body
{
	margin: 0;
}

h1,p
{
	margin: 0;
	padding: 0;
}

header,section,footer
{
	height: 100vh;
	width: 100%;
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

header
{
	background-color: #aaa;
}

section
{
	background-color: #ccc;
}

section#over
{
	position: absolute;
	top:100vh;
	background-color: #eee;
	z-index: 1;
}